@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./assets/fonts/GeistMono[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  /* Colors */
  --color-text-default: #121212;
  --color-text-secondary: #666666;
  --color-text-muted: #9C9C9C;

  --color-danger: #EC221F;
  --color-success: #14AE5C;
  --color-danger-bg: #FFF0F0;
  --color-success-bg: #EBFAEB;
  --color-bca: #2A7EBD;

  --color-border: #DCDBD599;

  --color-bg-surface: #F9F8F6;
  --color-bg-white: #FFFFFF;
  --color-bg-surface-alt: #F2F1EF;

  /* Fonts */
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Font sizes */
  --text-xs: 10px;
  --text-sm: 12px;
  --text-base: 16px;
}

body {
  @apply bg-bg-surface text-text-default font-sans;
}